$primary: #2D3192;
$second: #E8E6F2;
$red: #EB5757;
$green: #27AE60;
$box-shadow-default: 0px 5px 10px rgba(0, 0, 0, 0.2);
$border-radius: 10px;
$white:  #FFFFFF;
$black: #333333;
$margin-md: 16px 0px 16px 0px;
$container-pading: 0px 16px 0px 16px;

@mixin center {
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
  }

  @mixin flex-left {
    display: flex;
    justify-content: flex-start;
  }

  @mixin align-center {
    display: flex;
    justify-content: center;
  }

.flex-left{
    @include flex-left;
    padding: 0px;
}

.bg-primary{
    background-color: $primary !important;
    color: $white !important;
}

.bg-green{
    background-color: $green !important;
    color: $white !important;
}

.bg-red{
    background-color: $red !important;
    color: $white !important;
}

.title{
    background-color: blue;
    text-align: center;
}

//  MENU HEADER

.user-name{
    color: $white;
}

.icon{
    @include center;
}



.box-input{
    margin: $margin-md;
}


// Button menu

.menu{

    background-color: $second !important;
    color: $black !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 16px !important;


}

// Menu - header

.menu-primary{
    background-color: $primary;
    padding-top: 16px;

    .icon{
        color: $white !important;
        font-size: 24px !important;
    }
}


.logo img{
    max-width: 120px!important;
}





.container{
    // border: red 1px solid;
}

.box-filtro{
    padding: 0px !important;
}

.btn-submit{
    @include center;
    padding-bottom: 16px;
}

.filtrar .button{
    width: 60%;
}

.title-section{
    position: relative;
    @include center;
    padding: $margin-md;
   
}


.Fornecedor .dropdown{
    background-color: $white;

    width: 100%;
}



.chart-radio{
    display: flex !important;
    justify-content: flex-start !important;
}

// card

.box-card{
    padding: 24px!important;
    color: $white !important;



    .left-card{
        // background-color: red;
        
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    
        h5{
            margin: 8px 0px 0px 0px !important;
            text-align: center;
            white-space: nowrap;
        }

        .card-number{
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
        }

        .card-title{
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
        }
    }

    .right-card{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        padding-right: 8px;
        h5{
            margin: 0px 0px 0px 0px !important;
            text-align: center;
            white-space: nowrap;
        }

        .card-text{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
        }

        .card-title{
            font-style: normal;
            font-weight: 500;
            font-size: 20px !important;
            margin-bottom: 8px !important;
            line-height: 23px;
            text-align: center;
        }

    }
}

.img-card{
    font-size: 32px !important;
    margin: 0px !important;
    max-width: 32px !important;
    color: $white;
}



.box-section{
    margin-bottom: 24px;
    padding: $container-pading;
    background: $white;
    /* Box-shadow-low */
    width: 100% !important;
    box-shadow: $box-shadow-default;
    border-radius: $border-radius;
}

.box-sync{
    color: $primary;
    padding: 16px 0px 16px 0px;
}

.footer{
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: #333;
    position: fixed;
    bottom: 12px;
    width: 100% !important;
    
    .footer-icon{
        color: $white;
        margin: 0px !important;
        font-size: 24px !important;

    }

    .sub-icon{
        color: $white;
        font-size: 8px;
       
    }

    .box-icon{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
  
    }
}